[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "decorators"]
	path = decorators
	url = https://github.com/tidylab/decorators
[submodule "microservices"]
	path = microservices
	url = https://github.com/tidylab/microservices
[submodule "R6P"]
	path = R6P
	url = https://github.com/tidylab/r6p
